@use '../../../../sass/variables';

.Paginator {
  text-align: center;
  button {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 2px;
    border-radius: 100%;
    background-color: transparent;
    border: 1px solid variables.$blue;
    color: variables.$blue;
    outline: none;
    font-size: 1.1em;
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
    &:focus,
    &:active {
      background-color: variables.$blue;
      color: white;
    }
  }
  button.Active {
    background-color: variables.$blue;
    color: white;
  }
}
