@use 'variables';
@use 'materialize_overrides';

html {
  min-height: 100%;
}

body {
  background-color: variables.$body-bg;
  font-family: variables.$body-font;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$body-font;
}
