@use 'variables';

@mixin blue-button($display, $padding, $margin-left) {
  background-color: variables.$blue;
  border-radius: 5px;
  text-transform: none;
  color: variables.$body-bg !important;
  display: $display;
  padding: $padding;
  margin-left: $margin-left !important;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($color: variables.$blue, $amount: 5) !important;
  }
}

@mixin red-button {
  background-color: variables.$red !important;
  text-transform: none;
  font-weight: variables.$font-weight1;
  margin-left: 5px;
  border-radius: 5px;

  &:hover,
  &:active,
  &:focus {
    background-color: variables.$darken-red;
  }
}

@mixin green-button {
  background-color: variables.$green !important;
  text-transform: none;
  font-weight: variables.$font-weight1;
  border-radius: 5px;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($color: variables.$green, $amount: 3) !important;
  }
}

@mixin orange-button {
  background-color: variables.$orange !important;
  text-transform: none;
  font-weight: variables.$font-weight1;
  border-radius: 5px;
  &:hover,
  &:active,
  &:focus {
    background-color: darken($color: variables.$orange, $amount: 3) !important;
  }
}

@mixin card {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
}

@mixin block {
  background-color: variables.$white2;
  padding: 0px 20px;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@mixin icon-button {
  border: none;
  background-color: transparent;
  border-radius: 100%;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

@mixin blue-input {
  .input-field {
    .material-icons {
      color: variables.$transparent-gray;
    }
    input:focus + label,
    textarea:focus + label {
      color: variables.$blue !important;
    }
    .prefix.active {
      color: variables.$blue !important;
    }
    input:focus,
    input:active,
    textarea:focus,
    textarea:active {
      border-bottom: 1px solid variables.$blue !important;
      box-shadow: 0 1px 0 0 variables.$blue !important;
    }
  }
}
