// Body
$body-bg: #f8fafc;

// Typography

$logo-font: 'Mali', cursive;
$body-font: 'Open Sans', sans-serif;
$font-size1: 3em;
$font-size2: 1.8em;
$font-size3: 1.4em;
$font-size4: 1.1em;

$font-weight1: 500;
$font-weight2: 600;

// Colors
$blue: #008aff;
$darken-blue: #006ecc;
$indigo: #152c5b !important;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$darken-red: #ca312b;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$transparent-gray: rgba(31, 45, 61, 0.6);
$very-light-gray: #bbb;
$light-gray: #718096;
$gray: #676767;
$dark-gray: #404040;
$white1: white;
$white2: #f9f9f9;
$white3: #f2f2f2;
