@use 'mixins';
@use 'variables';
@use 'header';

.form {
  @include mixins.card;
  h2 {
    font-size: 2.5em;
    font-weight: variables.$font-weight2;
    color: variables.$indigo;
    text-align: center;
  }
  .btn-blue {
    @include mixins.blue-button(block, default, default);
    width: 100%;
    font-size: variables.$font-size3;
  }

  label {
    font-size: variables.$font-size4;
    color: variables.$transparent-gray;
    span {
      color: variables.$transparent-gray;
      font-size: variables.$font-size4 !important;
    }
  }

  @include mixins.blue-input;

  .blue-box[type='checkbox'].filled-in:checked + span:not(.lever):after {
    border: 2px solid variables.$blue;
    background-color: variables.$blue;
  }
}
