html {
  min-height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.btn-primary {
  background-color: #008aff;
  border-radius: 5px;
  text-transform: none;
  color: white !important;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #006ecc;
}

.btn-danger {
  background-color: #e3342f;
  text-transform: none;
  font-weight: 500;
  margin-left: 5px;
  border-radius: 5px;
}
.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
  background-color: #ca312b;
}

.brand-logo {
  font-weight: bold;
  color: #152c5b !important;
  font-family: "Open Sans", sans-serif;
}
.brand-logo span {
  color: #008aff;
  font-family: "Mali", cursive;
}

.nav-home .sidenav-trigger {
  color: #008aff;
}
.nav-home .sidenav-trigger .material-icons {
  font-size: 3em !important;
}
.nav-home ul li a {
  color: rgba(31, 45, 61, 0.6);
  font-size: 1.2em;
}

.sidenav h4 {
  text-align: center;
}
.sidenav li a {
  font-size: 1.4em;
}
.sidenav .btn-primary {
  display: inline;
  font-size: 1.2em;
  padding: 7px 12px;
  margin-left: 30px !important;
}
.sidenav .btn-primary:hover, .sidenav .btn-primary:active, .sidenav .btn-primary:focus {
  background-color: #006ecc !important;
}
.sidenav .btn-danger {
  margin-left: 30px;
}

.main-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.main-content h1 {
  color: #152c5b !important;
  font-size: 3em;
  font-weight: bold;
}
.main-content h1 strong {
  color: #008aff;
}
.main-content .btn-primary {
  font-size: 1.4em;
}
.main-content .btn-flat {
  text-transform: none;
  font-size: 1.3em;
  border-radius: 5px;
  font-weight: 600;
}
.main-content .btn-flat:hover {
  background-color: rgba(0, 138, 255, 0.2);
}
.main-content p {
  color: #718096;
  font-size: 1.1em;
}

#utilidade h2 {
  font-size: 1.8em;
  text-align: center;
  color: #152c5b !important;
  font-weight: 600;
}
#utilidade .header p {
  color: #718096;
  text-align: center;
}
#utilidade .badge {
  color: #5cc9a7;
  background-color: #def4ed;
  padding: 1.3em 1.375em;
  border-radius: 50rem;
  line-height: 0;
  font-weight: 600;
  text-align: center;
  width: 150px;
  margin: auto;
}
#utilidade .card {
  padding: 30px 0;
  border-radius: 15px;
}
#utilidade .card h5 {
  color: #152c5b !important;
  font-weight: 700;
  font-size: 1.4em;
}
#utilidade .card p {
  color: #718096;
  font-size: 1.05em;
}

footer {
  width: 100%;
  background-color: #171347;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #c5c5c5;
  text-align: center;
}
footer p {
  margin-bottom: 0;
  clear: both;
  padding-top: 10px;
}
footer p a:hover {
  color: #0089fc;
}
footer ul {
  margin: 0;
}
footer .brand-logo {
  font-weight: bold;
  color: white;
  font-size: 1.8em;
  font-family: "Open Sans", sans-serif;
}
footer .brand-logo span {
  color: #008aff;
  font-family: "Mali", cursive;
}
footer .divider {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.card {
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
}
.card h2 {
  font-size: 1.8em;
  font-weight: 700;
  color: #152c5b !important;
  text-align: center;
}

.login .btn-primary {
  display: block;
  width: 100%;
  font-size: 1.5em;
  height: 40px;
  padding: 0;
  margin: 20px auto;
}
.login label {
  font-size: 1.2em;
  color: rgba(31, 45, 61, 0.6);
}
.login label span {
  color: rgba(31, 45, 61, 0.6);
  font-size: 1em !important;
}
.login .input-field .material-icons {
  color: rgba(31, 45, 61, 0.6);
}
.login .input-field input:focus + label {
  color: #008aff !important;
}
.login .input-field .prefix.active {
  color: #008aff !important;
}
.login .row .input-field input:focus {
  border-bottom: 1px solid #008aff !important;
  box-shadow: 0 1px 0 0 #008aff !important;
}
.login .blue-box[type=checkbox].filled-in:checked + span:not(.lever):after {
  border: 2px solid #008aff;
  background-color: #008aff;
}

@media (max-width: 600px) {
  .valign-wrapper {
    display: inherit;
  }
}
@media (max-width: 1200px) {
  .nav-home ul li a {
    font-size: 1em;
  }

  .main-content h1 {
    font-size: 2em;
  }
  .main-content .btn-primary {
    font-size: 1.2em;
  }
  .main-content .btn-large {
    height: 40px;
    line-height: 35px;
  }
  .main-content .btn-flat {
    font-size: 1.2em;
  }
}

/*# sourceMappingURL=app.css.map */
