.blue {
  background-color: #008aff !important;
}

strong {
  font-weight: bold !important;
}

html {
  min-height: 100%;
}

body {
  background-color: #f8fafc;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

.brand-logo {
  font-weight: bold;
  color: #152c5b !important;
  font-family: "Open Sans", sans-serif;
}

.brand-logo span {
  color: #008aff;
  font-family: "Mali", cursive;
}

.main-nav .sidenav-trigger {
  color: #008aff;
}

.main-nav .material-icons {
  font-size: 3em !important;
}

.main-nav ul a {
  color: rgba(31, 45, 61, 0.6);
  font-size: 1.1em;
}

.main-nav .btn-blue {
  background-color: #008aff;
  border-radius: 5px;
  text-transform: none;
  color: #f8fafc !important;
  display: inline;
  padding: 8px 20px;
  margin-left: default !important;
}

.main-nav .btn-blue:hover,
.main-nav .btn-blue:active,
.main-nav .btn-blue:focus {
  background-color: #007ce6 !important;
}

.main-nav .btn-red {
  background-color: #e3342f !important;
  text-transform: none;
  font-weight: 500;
  margin-left: 5px;
  border-radius: 5px;
}

.main-nav .btn-red:hover,
.main-nav .btn-red:active,
.main-nav .btn-red:focus {
  background-color: #ca312b;
}

.sidenav h4 {
  text-align: center;
}

.sidenav .brand-logo {
  font-size: 1.1em;
}

.sidenav ul a {
  font-size: 1.4em;
  font-weight: 400;
}

.sidenav .btn-blue {
  background-color: #008aff;
  border-radius: 5px;
  text-transform: none;
  color: #f8fafc !important;
  display: inline;
  padding: 8px 20px;
  margin-left: 30px !important;
  font-size: 1.1em;
}

.sidenav .btn-blue:hover,
.sidenav .btn-blue:active,
.sidenav .btn-blue:focus {
  background-color: #007ce6 !important;
}

.sidenav .btn-red {
  background-color: #e3342f !important;
  text-transform: none;
  font-weight: 500;
  margin-left: 5px;
  border-radius: 5px;
  margin-left: 30px;
}

.sidenav .btn-red:hover,
.sidenav .btn-red:active,
.sidenav .btn-red:focus {
  background-color: #ca312b;
}

.content .ck-editor__editable {
  min-height: 130px !important;
}

.alternative .ck-editor__editable {
  min-height: 80px !important;
}

a:hover {
  text-decoration: none !important;
}

.form {
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  border-radius: 20px;
}

.form h2 {
  font-size: 2.5em;
  font-weight: 600;
  color: #152c5b !important;
  text-align: center;
}

.form .btn-blue {
  background-color: #008aff;
  border-radius: 5px;
  text-transform: none;
  color: #f8fafc !important;
  display: block;
  padding: default;
  margin-left: default !important;
  width: 100%;
  font-size: 1.4em;
}

.form .btn-blue:hover,
.form .btn-blue:active,
.form .btn-blue:focus {
  background-color: #007ce6 !important;
}

.form label {
  font-size: 1.1em;
  color: rgba(31, 45, 61, 0.6);
}

.form label span {
  color: rgba(31, 45, 61, 0.6);
  font-size: 1.1em !important;
}

.form .input-field .material-icons {
  color: rgba(31, 45, 61, 0.6);
}

.form .input-field input:focus + label,
.form .input-field textarea:focus + label {
  color: #008aff !important;
}

.form .input-field .prefix.active {
  color: #008aff !important;
}

.form .input-field input:focus,
.form .input-field input:active,
.form .input-field textarea:focus,
.form .input-field textarea:active {
  border-bottom: 1px solid #008aff !important;
  box-shadow: 0 1px 0 0 #008aff !important;
}

.form .blue-box[type=checkbox].filled-in:checked + span:not(.lever):after {
  border: 2px solid #008aff;
  background-color: #008aff;
}

