.brand-logo {
  font-weight: bold;
  color: #152c5b !important;
  font-family: "Open Sans", sans-serif;
}

.brand-logo span {
  color: #008aff;
  font-family: "Mali", cursive;
}

.main-nav .sidenav-trigger {
  color: #008aff;
}

.main-nav .material-icons {
  font-size: 3em !important;
}

.main-nav ul a {
  color: rgba(31, 45, 61, 0.6);
  font-size: 1.1em;
}

.main-nav .btn-blue {
  background-color: #008aff;
  border-radius: 5px;
  text-transform: none;
  color: #f8fafc !important;
  display: inline;
  padding: 8px 20px;
  margin-left: default;
}

.main-nav .btn-blue:hover,
.main-nav .btn-blue:active,
.main-nav .btn-blue:focus {
  background-color: #007ce6 !important;
}

.main-nav .btn-red {
  background-color: #e3342f !important;
  text-transform: none;
  font-weight: 500;
  margin-left: 5px;
  border-radius: 5px;
}

.main-nav .btn-red:hover,
.main-nav .btn-red:active,
.main-nav .btn-red:focus {
  background-color: #ca312b;
}

.sidenav h4 {
  text-align: center;
}

.sidenav .brand-logo {
  font-size: 1.1em;
}

.sidenav ul a {
  font-size: 1.4em;
  font-weight: 400;
}

.sidenav .btn-blue {
  background-color: #008aff;
  border-radius: 5px;
  text-transform: none;
  color: #f8fafc !important;
  display: inline;
  padding: 8px 20px;
  margin-left: 30px;
}

.sidenav .btn-blue:hover,
.sidenav .btn-blue:active,
.sidenav .btn-blue:focus {
  background-color: #007ce6 !important;
}

.sidenav .btn-red {
  background-color: #e3342f !important;
  text-transform: none;
  font-weight: 500;
  margin-left: 5px;
  border-radius: 5px;
  margin-left: 30px;
}

.sidenav .btn-red:hover,
.sidenav .btn-red:active,
.sidenav .btn-red:focus {
  background-color: #ca312b;
}

.content .ck-editor__editable {
  min-height: 130px !important;
}

.alternative .ck-editor__editable {
  min-height: 80px !important;
}

