.blue {
  background-color: #008aff !important;
}

strong {
  font-weight: bold !important;
}

html {
  min-height: 100%;
}

body {
  background-color: #f8fafc;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

.brand-logo {
  font-weight: bold;
  color: #152c5b !important;
  font-family: "Open Sans", sans-serif;
}

.brand-logo span {
  color: #008aff;
  font-family: "Mali", cursive;
}

.main-nav .sidenav-trigger {
  color: #008aff;
}

.main-nav .material-icons {
  font-size: 3em !important;
}

.main-nav ul a {
  color: rgba(31, 45, 61, 0.6);
  font-size: 1.1em;
}

.main-nav .btn-blue {
  background-color: #008aff;
  border-radius: 5px;
  text-transform: none;
  color: #f8fafc !important;
  display: inline;
  padding: 8px 20px;
  margin-left: default !important;
}

.main-nav .btn-blue:hover,
.main-nav .btn-blue:active,
.main-nav .btn-blue:focus {
  background-color: #007ce6 !important;
}

.main-nav .btn-red {
  background-color: #e3342f !important;
  text-transform: none;
  font-weight: 500;
  margin-left: 5px;
  border-radius: 5px;
}

.main-nav .btn-red:hover,
.main-nav .btn-red:active,
.main-nav .btn-red:focus {
  background-color: #ca312b;
}

.sidenav h4 {
  text-align: center;
}

.sidenav .brand-logo {
  font-size: 1.1em;
}

.sidenav ul a {
  font-size: 1.4em;
  font-weight: 400;
}

.sidenav .btn-blue {
  background-color: #008aff;
  border-radius: 5px;
  text-transform: none;
  color: #f8fafc !important;
  display: inline;
  padding: 8px 20px;
  margin-left: 30px !important;
  font-size: 1.1em;
}

.sidenav .btn-blue:hover,
.sidenav .btn-blue:active,
.sidenav .btn-blue:focus {
  background-color: #007ce6 !important;
}

.sidenav .btn-red {
  background-color: #e3342f !important;
  text-transform: none;
  font-weight: 500;
  margin-left: 5px;
  border-radius: 5px;
  margin-left: 30px;
}

.sidenav .btn-red:hover,
.sidenav .btn-red:active,
.sidenav .btn-red:focus {
  background-color: #ca312b;
}

.content .ck-editor__editable {
  min-height: 130px !important;
}

.alternative .ck-editor__editable {
  min-height: 80px !important;
}

a:hover {
  text-decoration: none !important;
}

#profile {
  background-color: #f9f9f9;
  padding: 0px 20px;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#profile h2 {
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  color: #152c5b !important;
}

#profile .img-container img {
  display: block;
  width: 100%;
  border-radius: 100%;
  margin-bottom: 10px;
}

#profile .img-container i {
  font-size: 10em;
  color: #676767;
}

#profile .input-field .material-icons {
  color: rgba(31, 45, 61, 0.6);
}

#profile .input-field input:focus + label,
#profile .input-field textarea:focus + label {
  color: #008aff !important;
}

#profile .input-field .prefix.active {
  color: #008aff !important;
}

#profile .input-field input:focus,
#profile .input-field input:active,
#profile .input-field textarea:focus,
#profile .input-field textarea:active {
  border-bottom: 1px solid #008aff !important;
  box-shadow: 0 1px 0 0 #008aff !important;
}

#profile label {
  font-size: 1.1em;
}

#profile .btn-blue {
  background-color: #008aff;
  border-radius: 5px;
  text-transform: none;
  color: #f8fafc !important;
  display: default;
  padding: default;
  margin-left: default !important;
}

#profile .btn-blue:hover,
#profile .btn-blue:active,
#profile .btn-blue:focus {
  background-color: #007ce6 !important;
}

#profile .btn-green {
  background-color: #38c172 !important;
  text-transform: none;
  font-weight: 500;
  border-radius: 5px;
  font-size: 1.4em;
  font-weight: 400;
  padding: 5px 50px;
  line-height: 1.4em;
}

#profile .btn-green:hover,
#profile .btn-green:active,
#profile .btn-green:focus {
  background-color: #35b56b !important;
}

#profile #file-input {
  display: none;
}

#profile .name {
  font-size: 1.8em;
  font-weight: 600;
  color: #152c5b !important;
  text-align: left;
}

#profile .description {
  text-align: left;
  font-size: 1.1em;
}

.alert-danger {
  border: 1px solid rgba(227, 52, 47, 0.3);
  border-radius: 5px;
  background-color: #f8cecc;
  padding: 10px;
  color: #e3342f;
}

.alert-success {
  border: 1px solid rgba(56, 193, 114, 0.3);
  border-radius: 5px;
  background-color: #bfecd2;
  padding: 10px;
  color: #217243;
}

