@use '../../../sass/variables';
@use '../../../sass/mixins';

.ListsContainer {
  @include mixins.block;

  h3 {
    color: variables.$indigo;
    font-size: variables.$font-size2;
    font-weight: bold;
    text-align: center;
  }
}

article.question {
  padding: 20px auto;
}
